* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bdadc9;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 400px;
  padding: 20px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: #907ca0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header,
footer {
  width: 400px;
  padding: 20px;
}

header > h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #38214b;
}

header > p,
footer > p {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #38214b;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  width: 60px;
  border: solid 1px black;
  border-radius: 20px;
  background-color: #38214b;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.number p {
  color: white;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.number:hover {
  scale: 1.05;
  transition: all 300ms ease-out;
}

button {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #38214b;
}

button:hover {
  color: #916bb0;
  font-size: 2.5rem;
  transition: all 300ms ease-out;
}
